{% extends 'default_frame.twig' %}

{% block main %}

<!-- Post -->
    <article class="post">
      <header>
        <div class="title">
          <h2><a href="single.html">About</a></h2>
          <p>すべての肌質、すべての季節、すべての年齢、すべての人のために。</p>
        </div>
      </header>
      <a href="single.html" class="image featured"><img src="{{ asset('assets/img/pic01.jpg','user_data') }}" alt="" /></a>
      <h4>導くスキンケア。</h4>
      <p><span class="image left"><img src="{{ asset('assets/img/pic07.jpg','user_data') }}" alt="" /></span>Lieu de Lumiere（リュー・ドゥ・ルミエール）は、すべての肌質、季節、年齢の方々に向けて、美と健康を追求するスキンケアを提供しています。<br>
      主要成分であるEGFは、肌のターンオーバーを整え、肌本来の再生能力を高める画期的なエイジングケア製品です。EGFは人体に本来備わっている成分であり、副作用やデメリットがなく、安全性が高いことが特長です。加齢によるEGFの減少は、シワやくすみ、乾燥など肌老化の要因となります。<br>
      フラーレンは、抗酸化力によってシワの改善、毛穴の引き締め、肌のバリア機能の向上など、さまざまな効果があります。ビタミンCが美容に良い栄養素として知られていますが、フラーレンの抗酸化力はそれを上回り、美肌作りに効果を発揮します。また、高い美白効果も期待できます。<br>
      カイネチンは植物ホルモンで、細胞分裂を促進します。これは人間の皮膚に対して老化の抑制効果があり、近年ではエイジング化粧品にも使用されるようになっています。<br>
      当社の全ての製品にはEGF、フラーレン、カイネチンが豊富に含まれています。皆様が肌の悩みから解放され、美しい肌を手に入れられることを心より願っています。
      </p>
      <p><span class="image right"><img src="{{ asset('assets/img/pic04.jpg','user_data') }}" alt="" /></span>
      Lieu de Lumiere（リュー・ドゥ・ルミエール）では化粧品販売だけではなく美容サロンも運営しております。完全個別対応、ケアを中心としたセットメニューを提案し、高単価・高リピート率を実現しております。<br>
      美容機器を使用しない、完全オールハンドの美容サロンとなり、施術でしか使用しないオリジナルのハーブピーリングの魅力と美容効果を体験いただけます。<br>
      サロンにご来店された方が輝き笑顔でお帰りになる、そんな場所を目指しており、健康美を追及し続ける女性専門のエステティックサロンです。<br>
      当サロンのエステは表面の美しさだけではなく、内面からの改善を目指す他に類のないオリジナルメゾットとなります。フェイス･ヘッド･デコルテなど、ご希望に合わせた施術のメニューをご用意、提案しております。<br>
      オリジナルメゾットとなるため、ご安心ご納得いただけるよう施術前に、無料カウンセリングを実施しております。サロンメニューについてご質問がある方や施術についてご要望など何でもお気軽お問い合わせください。
      </p>
    </article>
    <div class="contents_inner">
      <div class="info_area">
        <div class="photo"> <img src="{{ asset('assets/img/IMG_9266.png','user_data') }}" alt=""> </div>
        <div class="info">
          <table>
            <tr>
              <th>住所</th>
              <td>〒300-1207<br>
                茨城県牛久市ひたち野東4-7-3ブリーズサウス201</td>
            </tr>
            <tr>
              <th>Tel</th>
              <td>029-870-2850</td>
            </tr>
            <tr>
              <th>お問い合わせ</th>
              <td>info@lieude-lumiere.com</td>
            </tr>
            <tr>
              <th>ホームページ</th>
              <td>https://lieude-lumiere.com</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}
