<!-- 初回セット -->
    <section id="firstset">
      <div class="cover"> <a href="#" class="image featured">
        <picture>
          <source srcset="{{ asset('assets/img/first_item_pc.jpg','user_data') }}" media="(min-width: 768px)">
          <img src="{{ asset('assets/img/first_item_sp.jpg','user_data') }}" alt=""></picture>
        </a> </div>
    </section>
	  <!-- / 初回セット -->