{#
    This file is part of EC-CUBE
    
    Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
    
    http://www.ec-cube.co.jp/
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
    #}
<!-- Footer -->
<footer id="footer">
  <nav class="links">
    <ul>
      <li><a href="https://lieude-lumiere.com/user_data/about">事業内容</a></li>
      <li><a href="{{ url('product_list') }}">製品一覧</a></li>
      <li><a href="{{ url('help_privacy') }}">プライバシーポリシー</a></li>
      <li><a href="{{ url('help_tradelaw') }}">特定商取引法に基づく表示</a></li>
      <li><a href="{{ url('contact') }}">お問い合わせ</a></li>
    </ul>
  </nav>
  <ul class="icons">
    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <!-- <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
    <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li> -->
  </ul>
  <p class="copyright">&copy; Copyright © 2024 Lieu de Lumiere.</p>
</footer>