<section id="news">
      <header class="section-header">
        <h3>NEWS</h3>
      </header>
      <ul class="news">
        <li> <span class="date">2024.04.10</span>
          <p>ホームページからフェリアージュ商品を購入出来るようになりました。</p>
        </li>
        <li> <span class="date">2024.03.22</span>
          <p>ホームページをリニューアルしました。</p>
        </li>
        <li> <span class="date">2024.01.05</span>
          <p>フェリアージュ商品の販売を開始しました。</p>
        </li>
        <li> <span class="date">2024.01.01</span>
          <p>Lieu de Lumiere(リュー・ドゥ・ルミエール)として事業を開始いたしました。</p>
        </li>
      </ul>
    </section>