{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'プライバシーポリシー'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <p>
                    個人情報保護の重要性に鑑み、「個人情報の保護に関する法律」及び本プライバシーポリシーを遵守し、お客さまのプライバシー保護に努めます。
                </p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">個人情報の収集について</div>
                <p>個人情報を収集する際には、提供者に対し収集する目的を明確にし、その目的達成に必要な限度において適法かつ公正な手段を用います。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">個人情報の利用について</div>
                <p>個人情報を利用する際には、下記の目的で利用します。</p>
                <p>1.当社において、お客様の個人情報は当サイトにおいて運営に必要な注文管理、個別対応、注文確認、ご購入サポート等に利用します。また、当サイトの運営に必要な業務委託先に対し、業務委託先との個人情報を含めた機密保持契約締結を前提に、業務に必要なお客様の個人情報を開示いたします。</p>
                <p>2.当社は、お客様の氏名、住所、電話番号など連絡先情報をお客様への商品の発送および代金の請求のために利用し、必要な情報を商品の発送および代金の請求を担当する運送会社に対し開示します。また、代金の請求に関連してご指定いただいたクレジットカード番号などの支払情報を利用します。</p>
                <p>3.当社は、お客様の氏名、住所、電話番号、e-mailアドレスなどの連絡先情報、ご注文いただいた商品の種類や数量、ご請求金額などの情報をご注文の内容や配送方法などを連絡したり確認するために利用します。</p>
                <p>4.当社は、ご利用された履歴や、お客様の氏名、住所、電話番号、e-mailアドレスなどの連絡先情報をお客様に当社の商品・サービスのご案内をするために利用します。</p>
                <p>5.当社は、お客様からのご要望、お問い合わせに対する回答をするために、お客様の氏名、住所、e-mailアドレスなどの連絡先情報を利用します。また、当社が明示した目的の範囲を越えてお客様の個人情報を利用する必要が生じた場合は、事前にお客様にその目的をご連絡いたします。また、お客様から個人情報の訂正、削除もしくは利用停止等について求められた場合、お客様ご本人様であるとの確認が取れ次第、合理的な範囲で速やかに対応させていただきます。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">個人情報の提供および預託について</div>
                <p>個人情報を第三者に提供および預託する際には、提供者が同意を与えた収集目的の範囲内でこれを行います。なお、提供および預託が予定されている場合は、事前に提供者から承諾を得るものとします。ただし，以下に該当する場合はその限りではありません。</p>
                <p>1.裁判所、警察、その他の司法もしくは行政機関、またはこれらに準ずる者から適法に照会があった場合</p>
                <p>2.法令に特別の規定がある場合</p>
                <p>3.お客様や第三者の生命・身体・財産を損なう虞があり，本人の同意を得ることが出来ない場合</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">安全対策の実施について</div>
                <p>個人情報の取り扱いに関する規程を明確にし、従業者に周知徹底させ、必要な安全対策を実施することに より、個人情報への不正アクセスまたは個人情報の紛失、破壊、改ざん、漏洩等を確実に防止します。また、内部監査の結果およびセキュリティ事故の実例、提供者からの指摘・要望等により改善が必要とされる場合は、速やかにこれを是正します。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">個人情報の開示・訂正・削除等</div>
                <p>提供者から情報の開示、訂正、削除、利用の停止や消去を求められた場合は、合理的な期間および範囲でこれに応じます。</p>
            </div>
        </div>
    </div>
{% endblock %}
