<section id="salon">
      <header class="section-header">
        <h2 class="salon_logo"><img src="{{ asset('assets/img/logo.png','user_data') }}" width="501" height="165" alt="Lieu de Lumiére"/></h2>
        <p>サロンにご来店された方が輝き笑顔でお帰りになる、そんな場所を目指しております。</p>
      </header>
      <div class="pl-cover">
        <div class="grid grid--no-gutters">
          <div class="grid__item medium-up--one-half">
            <div class="pl-cover__image"> <img src="{{ asset('assets/img/IMG_9266.png','user_data') }}" width="3543" height="2657" alt=""/></div>
          </div>
          <div class="grid__item medium-up--one-half">
            <div class="pl-cover__text">
              <div class="pl-cover__title">
                <h3>健康美を追及し続ける</h3>
                <hr>
                <p>当サロンのエステは表面の美しさだけではなく、内面からの改善を目指す他に類のないオリジナルメゾットとなります。
                  フェイス･ヘッド･デコルテなど、ご希望に合わせた施術のメニューをご用意、提案しております。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pl-cover">
        <div class="grid grid--no-gutters _reverse">
          <div class="grid__item medium-up--one-half">
            <div class="pl-cover__image"> <img src="{{ asset('assets/img/IMG_7835.png','user_data') }}" width="1524" height="1016" alt=""/></div>
          </div>
          <div class="grid__item medium-up--one-half">
            <div class="pl-cover__text">
              <div class="pl-cover__title">
                <h3>初めてご来店される方へ</h3>
                <hr>
                <p>当サロンのエステはオリジナルメゾットとなるため、ご安心ご納得いただけるよう施術前に、無料カウンセリングを実施しております。
                  サロンメニューについてご質問がある方や施術についてご要望など何でもお気軽お問い合わせください。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>