<section id="voice">
      <header class="section-header">
        <h3>CUSTOMER'S VOICE</h3>
      </header>
      <ul class="news">
        <li> <span class="date">2024.03.3</span>
          <p>これは、レイアウト P タグのコンテンツです</p>
        </li>
        <li> <span class="date">2024.03.3</span>
          <p>これは、レイアウト P タグのコンテンツです</p>
        </li>
      </ul>
    </section>